:root {
    --transition-100: 100ms ease-in-out; 
    --transition-200: 200ms ease-in-out; 
    --transition-300: 300ms ease-in-out; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
/* Text Align  */
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
/* Display Flex */
.flex {
    display: flex;
    align-items: center;
}
.flex-start {
    justify-content: start;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: end;
}
.flex-space-even {
    justify-content: space-between;
}
.flex-row {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* Display Grid  */
.grid {
    display: grid;
    word-wrap: break-word;
}
.grid-center {
    justify-content: center;
}
.col-2 {
    grid-template-columns: repeat(2,1fr);
}
.col-3 {
    grid-template-columns: repeat(3,1fr);
}
.col-4 {
    grid-template-columns: repeat(4,1fr);
}
.col-5 {
    grid-template-columns: repeat(5,1fr);
}
.row-2 {
    grid-template-rows: repeat(2, 1fr);
}
.col-span-2 {
    grid-column: span 2;
}
.col-span-3 {
    grid-column: span 3;
}
.row-span-2 {
    grid-row: span 2;
}
.row-span-3 {
    grid-row: span 3;
}
/* Button Styles */
.btn {
    border: 1px solid;
    /* border-color: inherit; */
    padding: 0.4rem 1.2rem;
    margin: 0.5rem;
    font-weight: 500;
}
.btn-block {
   width: 100%;
}
.btn:hover {
    border-color: inherit;
    background-color: inherit;
    color: inherit;
    transition: 300ms ease-in-out;
}
/* Border Style  */
.round {
    border-radius: 20px;
}
.rounder {
    border-radius: 100px;
}
/* Input Styles */
input {
    padding: 0.35rem 1.8rem;
    margin: 0.5rem;
    border-radius: 20px;
}
/* Cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 1rem;
    border-color: inherit;
    padding: 1rem;
}
.card > .card-icon {
    margin-top: 0.3rem;
}
.card > .card-title {
    margin-top: 1rem;
}
.card > .card-data {
    margin-top: 0.1rem;
}
/* Border */
.border {
    border: 1px solid;
    border-color: inherit;
}

/* Images Styles */
.img-circle {
    border-radius: 50%;
}
.img-small {
    width: 100px;
    height: 100px;
}
.img-min {
    width: 250px;
    height:250px;
}
.img-fit {
    object-fit:cover;
}
