* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
.center {
    text-align: center;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-start {
    justify-content: start;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: end;
}
.flex-space-even {
    justify-content: space-between;
}
.flex-row {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
/* Display Grid  */
.grid {
    display: grid;
    word-wrap: break-word;
}
.grid-center {
    justify-content: center;
}
.col-2 {
    grid-template-columns: repeat(2,1fr);
}
.col-5 {
    grid-template-columns: repeat(5,1fr);
}
.row-2 {
    grid-template-rows: repeat(2, 1fr);
}
/* Input Styles */
input {
    padding: 0.35rem 1.8rem;
    margin: 0.5rem;
    border-radius: 20px;
}
/* Images Styles */
.img-fit {
    object-fit:cover;
}
