:root {
    --color-theme : rgb(239, 45, 53);
    font-family: Lato, sans-serif;
}
/* Best Deals Section  */
section {
    margin: 0% 5% 0% 5%;
}
section > :nth-child(1) {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}
section > :nth-child(2) > .room {
    border: 1px solid #e6e6e6;
    /* border-width: 0px 1px 1px; */
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.room-data {
    padding-left: 15px;
}
.room-data > :nth-child(1), .room-data > :nth-child(3) {
    font-size: 13px;
}
.room-data > :nth-child(2) {
    font-size: 17px;
}
.room-data > :nth-child(4) > :nth-child(1) {
    color: var(--color-theme);
}
.room-data > :nth-child(4) > :nth-child(2) {
    font-size: 11px;
    margin-left: 1%;
}
/* Footer Sectopm */
footer {
    background-color: #f7f7f7;
    padding: 47px 0px 66px 0px;
}
footer > :nth-child(1) {
    color : var(--color-theme);
}
footer > :nth-child(2) {
    margin-top: 40px;   
}
footer > :nth-child(2) {
    list-style: none;
}
footer > :nth-child(2) > li {
    margin-left: 40px;
    margin-right: 40px;
}
footer > :nth-child(3) {
    color : #909090;
    margin-top: 30px;
}
footer > :nth-child(3) > span {
    color: var(--color-theme);
    font-size: 15px;
}
footer > :nth-child(4) {
    color : #909090;
    margin-top: 30px;
    font-size: 15px;
}
